body {
	padding-top: 30px;
}

header {
	padding-bottom: 20px;
	padding-left: 30px;
}

.background-image-container {
	background-position: bottom;
}

.shrink {
	height: 6rem;
	width: 6rem;
}

h1 {
	text-transform: uppercase;
}

.btn-xl {
	padding: 2rem 8rem;
}

 .band-color {
 	background-color: #6F3BFF;
 	padding: 0rem;
 }

 .input-group-btn {
 	padding: 4rem;
 }